<form [formGroup]="form" class="space-y-4">
  <div class="max-h-[225px] overflow-y-auto space-y-4">
    <!-- Name -->
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <small
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
        class="error-text pt-1 block"
      >
        This field is required
      </small>
    </div>

    <!-- Service -->
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Service Provided</mat-label>
        <mat-select formControlName="service">
          <mat-option *ngFor="let service of services" [value]="service.value">
            {{ service.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <small
        *ngIf="form.get('service')?.invalid && form.get('service')?.touched"
        class="error-text pt-1 block"
      >
        This field is required
      </small>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Phone No -->
      <div class="w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" type="number" />
        </mat-form-field>
        <small
          *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched"
          class="error-text pt-1 block"
        >
          This field is required
        </small>
      </div>

      <!-- Gender -->
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <small
          *ngIf="form.get('gender')?.invalid && form.get('gender')?.touched"
          class="error-text pt-1 block"
        >
          This field is required
        </small>
      </div>
    </div>

    <!-- Address -->
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <small
        *ngIf="form.get('address')?.invalid && form.get('address')?.touched"
        class="error-text pt-1 block"
      >
        This field is required
      </small>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- City -->
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <small
          *ngIf="form.get('city')?.invalid && form.get('city')?.touched"
          class="error-text pt-1 block"
        >
          This field is required
        </small>
      </div>

      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Speciality</mat-label>
          <input matInput formControlName="speciality" />
        </mat-form-field>
        <small
          *ngIf="form.get('speciality')?.invalid && form.get('speciality')?.touched"
          class="error-text pt-1 block"
        >
          This field is required
        </small>
      </div>
    </div>

    <!-- State -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
    </mat-form-field>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <!-- Npi Num -->
      <mat-form-field appearance="outline">
        <mat-label>NPI Number</mat-label>
        <input matInput type="number" formControlName="npi" />
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Sal id -->
      <mat-form-field appearance="outline">
        <mat-label>Sal Id</mat-label>
        <input matInput type="number" formControlName="salId" />
      </mat-form-field>

      <!-- Credential -->
      <mat-form-field appearance="outline">
        <mat-label>Credential</mat-label>
        <input matInput formControlName="credential" />
      </mat-form-field>
    </div>

    <!-- MAIN / OTHER -->
    <div class="flex flex-col">
      <mat-label class="text-sm font-medium text-gray-700 mb-2">Assign Doctor Type</mat-label>

      <mat-radio-group formControlName="doctorType" class="flex gap-4">
        <mat-radio-button value="main">Main Doctor</mat-radio-button>
        <mat-radio-button value="other">Other Doctor</mat-radio-button>
      </mat-radio-group>

      <small
        *ngIf="form.get('doctorType')?.invalid && form.get('doctorType')?.touched"
        class="error-text pt-1 block"
      >
        This field is required
      </small>
    </div>
  </div>

  <ng-content></ng-content>
</form>
