<div>
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-sm sm:text-lg font-semibold text-gray-800">Patient Medical ID Card</h2>
    <button mat-flat-button (click)="downloadCard()" [disabled]="loading()">Download Card</button>
  </div>

  @if (loading() || !cardData) {
    <div class="flex items-center justify-center">
      <h2 class="text-lg font-semibold text-gray-600">Loading...</h2>
    </div>
  } @else {
    <div class="flex flex-col items-start gap-6">
      <!-- Card -->
      <div
        id="medical-card"
        class="w-full aspect-[1.4/1] xs:max-w-[450px] xs:aspect-[1.8/1] rounded-xl border border-gray-400 overflow-hidden shadow-sm flex"
      >
        <!-- Left Side -->
        <div class="flex-1 px-5 py-4">
          <h1 class="text-[12px] sm:text-[22px] font-extrabold leading-none uppercase">
            {{ cardData()?.patientName || 'N/A' }}
          </h1>

          <div class="mt-3 space-y-1 text-[8px] sm:text-[10px] leading-tight">
            <div class="flex">
              <span class="text-gray-700">ALLERGIES:</span>&nbsp;
              <span class="font-semibold">
                {{ formatList(cardData()?.allergies) }}
              </span>
            </div>

            <div class="flex">
              <span class="text-gray-700">MEDICATIONS: </span>&nbsp;
              <span class="font-semibold">
                {{ formatList(cardData()?.medications) }}
              </span>
            </div>

            <div class="flex">
              <span class="text-gray-700">CONDITIONS:</span>&nbsp;
              <span class="font-semibold">
                {{ formatList(cardData()?.conditions) }}
              </span>
            </div>

            <div class="flex">
              <span class="text-gray-700">HOSPITAL:</span>&nbsp;
              <span class="font-semibold"> {{ formatList(cardData()?.hospitals) }} </span>
            </div>

            <div class="flex">
              <span class="text-gray-700">DOCTOR:</span>&nbsp;
              <span class="font-semibold"> {{ formatList(cardData()?.doctors) }} </span>
            </div>

            <div class="flex">
              <span class="text-gray-700">RELIGION:</span>&nbsp;
              <span class="font-semibold"> {{ cardData()?.religion || 'N/A' }}</span>
            </div>

            <div class="flex">
              <span class="text-gray-700">EMERGENCY:</span>&nbsp;
              <span class="font-semibold">
                {{
                  cardData()?.emergencyContact?.name +
                    ' ,' +
                    cardData()?.emergencyContact?.phone +
                    ' ,' +
                    cardData()?.emergencyContact?.relation || 'N/A'
                }}
              </span>
            </div>
          </div>
        </div>

        <!-- Strips -->
        <div class="flex">
          <div class="w-6 border-l border-r border-gray-300 flex items-center justify-center">
            <span class="rotate-[-90deg] whitespace-nowrap text-[10px] font-normal tracking-wide">
              Updated: {{ (cardData()?.updatedAt | date) || 'N/A' }}
            </span>
          </div>

          <!-- Gren Strip -->
          @if (cardData()?.organDonor) {
            <div class="w-5 bg-[#8df8c6] flex items-center justify-center border-r border-gray-300">
              <span class="rotate-[-90deg] whitespace-nowrap text-[10px] font-normal tracking-wider"
                >ORGAN DONOR</span
              >
            </div>
          }

          @if (cardData()?.isSmoker) {
            <div class="w-6 bg-[#f7b954] flex items-center justify-center border-r border-gray-300">
              <span
                class="rotate-[-90deg] whitespace-nowrap text-[10px] font-normal tracking-wider"
              >
                SMOKER
              </span>
            </div>
          }
        </div>

        <!-- Right Side -->
        <div class="w-[150px] bg-white flex flex-col">
          <div class="text-center py-1 text-xs font-bold">
            <div>DOB: {{ cardData()?.dateOfBirth | date }}</div>
            <div>SSN: {{ cardData()?.ssn || 'N/A' }}</div>
          </div>

          <div class="flex justify-center px-2">
            <img
              [src]="qrCodeUrl"
              alt="QR Code"
              class="w-[90px] h-[90px] border border-gray-400 bg-white"
            />
          </div>

          <div
            class="mt-1 bg-[#f4a7a2] py-1 text-center font-bold text-[10px] sm:text-sm text-red-900"
          >
            Blood Type {{ cardData()?.bloodType }}
          </div>

          <div class="flex-1 overflow-hidden">
            <img
              [src]="cardData()?.ekg"
              alt="Preview"
              class="w-full h-full object-contain sm:object-cover"
            />
          </div>
        </div>
      </div>

      <!-- Qr section -->
      <div
        class="w-full max-w-[450px] bg-white border border-gray-300 rounded-xl shadow-sm p-4 flex items-center gap-4"
      >
        <!-- QR IMAGE -->
        <div class="bg-white p-2 border rounded-md shadow-sm">
          <img [src]="qrCodeUrl" class="w-fit h-fit" alt="QR Code" />
        </div>

        <div class="flex flex-col">
          <div class="text-sm font-semibold text-gray-800">Scan this QR Code</div>

          <div class="text-xs text-gray-500 mt-1">
            Get instant access to patient medical information, allergies, emergency contacts and
            more.
          </div>

          <div class="mt-2 text-xs text-primary font-medium">Works with any smartphone camera</div>
        </div>
      </div>
    </div>
  }
</div>
