<div class="p-6 md:w-125">
  <!-- Header -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">
      {{ data.title }}
    </h2>

    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Body -->
  <ng-template *ngTemplateOutlet="data.content"></ng-template>

  <!-- Footer -->
  <div class="flex justify-end gap-3 mt-6" *ngIf="data.showButtons">
    <button mat-button (click)="onCancel()" class="bg-blue-100!" [disabled]="isLoading">
      Cancel
    </button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="isLoading">Save</button>
  </div>
</div>
