<div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
  <div class="lg:col-span-2 space-y-6">
    <app-mode-switch-card
      title="Add Doctor"
      subtitle="Search or manually add doctor"
      [(mode)]="mode"
    >
      <!-- SEARCH MODE -->
      <div *ngIf="mode === 'search'" class="flex flex-col gap-6 max-h-[450px] overflow-y-auto">
        <app-search-bar class="w-full" (search)="searchDoctors($event)"></app-search-bar>

        <!-- Search Results -->
        <div *ngIf="searchResults.length" class="border rounded-lg divide-y">
          <div *ngFor="let doc of searchResults" class="p-4 flex justify-between items-start">
            <div>
              <p class="font-medium text-gray-800">{{ doc.name }}</p>
              <p class="text-sm text-gray-500">
                {{ doc.speciality || 'N/A' }} • {{ doc.city || '-' }}
              </p>
            </div>

            <button mat-stroked-button color="primary" (click)="selectDoctor(doc)">Add</button>
          </div>
        </div>

        <div
          *ngIf="selectedDoctor"
          class="p-4 rounded-lg bg-blue-50 border border-blue-100 mt-3 space-y-3"
        >
          <!-- Doctor Info -->
          <div *ngFor="let field of doctorFields">
            <p *ngIf="selectedDoctor[field.key]" class="text-sm text-gray-600">
              <span class="font-medium text-gray-800"> {{ field.label }}: </span>
              {{ selectedDoctor[field.key] }}
            </p>
          </div>

          <!-- Main/Other -->
          <div class="pt-3 border-t border-blue-200">
            <p class="text-sm font-medium text-gray-700 mb-2">Assign Doctor Type</p>

            <mat-radio-group [(ngModel)]="selectedDoctorType" class="flex gap-4">
              <mat-radio-button value="current">Main Doctor</mat-radio-button>
              <mat-radio-button value="past">Other Doctor</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Add Button -->
          <div class="flex justify-end pt-2">
            <button mat-flat-button color="primary" (click)="submit()">Add</button>
          </div>
        </div>
      </div>

      <!-- MANUAL MODE -->
      <app-doctor-form *ngIf="mode === 'manual'" [form]="doctorForm"
        ><div class="flex justify-end">
          <button mat-flat-button type="submit" (click)="submit()" color="primary">
            Save Doctor
          </button>
        </div></app-doctor-form
      >
    </app-mode-switch-card>
  </div>

  <!-- tables -->
  <div class="lg:col-span-3 space-y-6">
    <!-- Main Doctors -->
    <div class="bg-white rounded-xl shadow-sm p-6">
      <h2 class="text-lg font-semibold mb-4">Main Doctors</h2>

      <app-doctors-table
        [data]="mainDoctors"
        [cols]="columns"
        (onEdit)="openEditModal($event)"
        (onDelete)="openDeleteModal()"
      ></app-doctors-table>
    </div>
  </div>

  <!-- Other Doctors -->
  <div class="bg-white rounded-xl shadow-sm p-6 lg:col-span-5">
    <h2 class="text-lg font-semibold mb-4">Other Doctors</h2>

    <app-doctors-table
      class="w-full"
      [data]="otherDoctors"
      [cols]="columns"
      (onEdit)="openEditModal($event)"
      (onDelete)="openDeleteModal()"
    ></app-doctors-table>
  </div>

  <ng-template #editModal>
    <form [formGroup]="editDoctorForm" class="space-y-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <small
        *ngIf="editDoctorForm.get('name')?.invalid && editDoctorForm.get('name')?.touched"
        class="error-text block"
      >
        This field is required
      </small>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Speciality</mat-label>
        <input matInput formControlName="speciality" />
      </mat-form-field>
      <small
        *ngIf="
          editDoctorForm.get('speciality')?.invalid && editDoctorForm.get('speciality')?.touched
        "
        class="error-text block"
      >
        This field is required
      </small>

      <div class="flex flex-col">
        <mat-label class="text-sm font-medium text-gray-700 mb-2">Assign Doctor Type</mat-label>

        <mat-radio-group formControlName="status" class="flex gap-4">
          <mat-radio-button value="current">Main Doctor</mat-radio-button>
          <mat-radio-button value="past">Other Doctor</mat-radio-button>
        </mat-radio-group>

        <small *ngIf="editDoctorForm.get('status')?.invalid" class="error-text block">
          This field is required
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template #deleteModal></ng-template>
</div>
