<div class="p-6">
  <!-- PROFILE CARD -->
  <div class="border border-gray-100 rounded-xl p-6 bg-white shadow-sm">
    <div class="mb-6">
      <h2 class="text-lg font-semibold text-gray-900">Account Information</h2>

      <p class="text-sm text-gray-500 mt-1">Update your personal account details</p>
    </div>

    <form class="space-y-6" [formGroup]="accountsForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- FULL NAME -->
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>

          <input matInput formControlName="fullName" placeholder="John Doe" />
        </mat-form-field>

        <!-- EMAIL -->
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>

          <input matInput formControlName="email" type="email" placeholder="john@example.com" />
        </mat-form-field>

        <!-- SSN -->
        <mat-form-field appearance="outline">
          <mat-label>SSN</mat-label>

          <input matInput formControlName="ssn" type="number" />
        </mat-form-field>

        <!-- Member Id -->
        <mat-form-field appearance="outline">
          <mat-label>Member Id</mat-label>

          <input matInput formControlName="memberId" type="text" />
        </mat-form-field>
      </div>
      <app-footer-buttons (onSave)="updateAccountDetails()" [isDisabled]="saving()" />
    </form>
  </div>

  <!-- SECURITY CARD -->
  <div class="border border-gray-100 rounded-xl p-6 bg-white shadow-sm mt-6">
    <div class="mb-6">
      <h2 class="text-lg font-semibold text-gray-900">Security</h2>

      <p class="text-sm text-gray-500 mt-1">Manage your password and account security</p>
    </div>

    <form class="space-y-6" [formGroup]="passwordForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>

          <input matInput type="password" formControlName="currentPassword" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>

          <input matInput type="password" formControlName="newPassword" />
        </mat-form-field>
      </div>

      <app-footer-buttons (onSave)="updatePassword()" [isDisabled]="saving()" />
    </form>
  </div>
</div>
