<form [formGroup]="profileForm" class="p-6">
  <!-- PROFILE DATA -->
  <div>
    <h2 class="text-2xl font-bold text-indigo-700 mb-8">Profile Data</h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-6">
      <!-- PROFILE IMAGE -->
      <app-upload-profile-image
        [imageUrl]="profilePreview"
        (onProfileChange)="handleProfileUpload($event)"
      />

      <!-- DATE OF BIRTH -->
      <mat-form-field appearance="outline" class="w-full h-fit">
        <mat-label>Date of Birth</mat-label>

        <input matInput [matDatepicker]="picker" formControlName="dob" />

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <small *ngIf="profileForm.get('dob')?.errors?.['dob']" class="error-text">
        Date of birth is required.
      </small>

      <!-- HEIGHT -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Height (inches)</mat-label>

        <input matInput type="number" formControlName="height" />
      </mat-form-field>

      <small *ngIf="profileForm.get('height')?.errors?.['height']" class="error-text">
        Height is required.
      </small>

      <!-- WEIGHT -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Weight (pounds)</mat-label>

        <input matInput type="number" formControlName="weight" />
      </mat-form-field>

      <small *ngIf="profileForm.get('weight')?.errors?.['weight']" class="error-text">
        Weight is required.
      </small>

      <!-- GENDER -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Gender</mat-label>

        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <small *ngIf="profileForm.get('gender')?.errors?.['gender']" class="error-text">
        Gender is required.
      </small>

      <!-- BLOOD TYPE -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Blood Type</mat-label>

        <mat-select formControlName="bloodType">
          <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.value">{{
            bloodType.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <small *ngIf="profileForm.get('bloodType')?.errors?.['bloodType']" class="error-text">
        Blood type is required.
      </small>

      <!-- COUNTRY -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Country of Birth</mat-label>

        <mat-select formControlName="countryOfBirth">
          <mat-option *ngFor="let country of countries" [value]="country.value">{{
            country.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <small
        *ngIf="profileForm.get('countryOfBirth')?.errors?.['countryOfBirth']"
        class="error-text"
      >
        Country of birth is required.
      </small>

      <!-- ORGAN DONOR -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Organ Donor</mat-label>

        <mat-select formControlName="organDonor">
          <mat-option *ngFor="let option of yesNoOptions" [value]="option.value">{{
            option.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- NATIONALITY -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nationality</mat-label>

        <mat-select formControlName="nationality">
          <mat-option *ngFor="let country of countries" [value]="country.value">{{
            country.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- SMOKER -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Smoker</mat-label>

        <mat-select formControlName="smoker">
          <mat-option *ngFor="let option of yesNoOptions" [value]="option.value">{{
            option.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- EKG -->
      <div class="lg:col-span-2">
        <app-image-upload
          label="EKG Image"
          [preview]="ekgPreview"
          placeholderTitle="Upload EKG Image"
          placeholderDescription="Upload clear EKG or ECG scan image in PNG, JPG or WEBP format."
          (fileSelected)="handleEkgUpload($event)"
        ></app-image-upload>
      </div>
    </div>
  </div>

  <!-- EMERGENCY CONTACTS -->
  <app-emergency-contacts
    [contacts]="emergencyContacts"
    (onAddContact)="addEmergencyContact()"
    (onRemoveContact)="removeEmergencyContact($event)"
    [formGroup]="profileForm"
  />

  <app-footer-buttons />
</form>
