<!-- <ng-template #editModal>
    <form [formGroup]="editAllergyForm" class="flex flex-col gap-4 max-w-md">
        <mat-form-field appearance="outline">
            <input matInput formControlName="name" placeholder="Allergy name" class="text-sm! h-4!">
        </mat-form-field>
        <small *ngIf="editAllergyForm.get('name')?.invalid && editAllergyForm.get('name')?.touched" class="error-text">
            This field is required
        </small>

        <mat-form-field appearance="outline">
            <textarea [rows]="10" matInput formControlName="details" placeholder="Details" class="text-sm!"></textarea>
        </mat-form-field>
        <small *ngIf="editAllergyForm.get('details')?.invalid && editAllergyForm.get('details')?.touched" class="error-text">
            This field is required
        </small>
    </form>
</ng-template> -->