<div class="bg-white rounded-xl shadow-sm p-6 border border-gray-200">
  <h2 class="text-primary font-semibold text-xl mb-4">Therapies</h2>

  <form class="flex gap-3" [formGroup]="therapyForm">
    <mat-form-field appearance="outline" class="flex-1">
      <mat-label>Add Therapy</mat-label>
      <input matInput formControlName="therapy" />
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="therapyForm.invalid">Add</button>
  </form>

  @if (therapies.length > 0) {
    <div class="flex flex-wrap gap-2 mt-4">
      <app-chip *ngFor="let therapy of therapies" [label]="therapy" variant="green" />
    </div>
  } @else {
    <div class="flex items-center justify-center py-10">
      <p>No Therapies Found!</p>
    </div>
  }
</div>
