<mat-sidenav-container class="h-screen">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <app-sidebar (close)="drawer.close()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-y-auto">
    <div class="min-h-full w-full p-6">
      <div class="md:hidden mb-4">
        <button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
