<form [formGroup]="allergyForm" class="flex flex-col gap-4 max-w-md">
  <mat-form-field appearance="outline">
    <input matInput formControlName="name" placeholder="Allergy name" class="text-sm! h-4!" />
  </mat-form-field>
  <small
    *ngIf="allergyForm.get('name')?.invalid && allergyForm.get('name')?.touched"
    class="error-text"
  >
    This field is required
  </small>

  <mat-form-field appearance="outline">
    <textarea
      [rows]="10"
      matInput
      formControlName="details"
      placeholder="Details"
      class="text-sm!"
    ></textarea>
  </mat-form-field>
  <small
    *ngIf="allergyForm.get('details')?.invalid && allergyForm.get('details')?.touched"
    class="error-text"
  >
    This field is required
  </small>

  <ng-content></ng-content>
</form>
