<div
  class="h-screen flex flex-col justify-between overflow-hidden bg-white border-r border-gray-200 p-6"
>
  <div>
    <div class="flex justify-between items-center mb-4">
      <div class="text-primary text-xl font-bold">Save A Life</div>

      <button class="md:hidden" (click)="close.emit()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="flex-1 overflow-y-auto flex flex-col gap-2">
      <a
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="bg-blue-50 text-primary border-l-4 border-primary pl-3"
        [routerLinkActiveOptions]="{ exact: true }"
        class="group flex items-center gap-3 py-2 px-3 rounded-lg text-slate-700 font-medium hover:bg-blue-50 hover:text-primary"
      >
        <mat-icon class="text-slate-500 group-hover:text-primary">
          {{ item.icon }}
        </mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </div>
  </div>

  <button mat-flat-button class="w-full flex items-center gap-2 rounded-md!" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</div>
