<div class="flex flex-col gap-6 min-h-screen bg-gray-50">
  <app-mode-switch-card
    title="Add Medication"
    subtitle="Choose how you want to add medication"
    [mode]="mode"
    (modeChange)="switchMode($event)"
  >
    <form [formGroup]="medicationForm" (ngSubmit)="submit()" class="space-y-5">
      <!-- ================= SEARCH MODE ================= -->
      <div *ngIf="mode === 'search'" class="space-y-3">
        <app-search-bar class="w-full mb-4" (search)="searchMedication($event)" />

        <!-- Search Results -->
        <app-selectable-list
          [items]="searchResults"
          labelKey="medicineName"
          subLabelKey="dosage"
          (onSelect)="selectMedication($event)"
        />

        @if (selectedMedication) {
          <app-selected-item
            [item]="{
              title: selectedMedication.medicineName || '',
              subtitle: selectedMedication.dosage || '',
            }"
          />
        }
      </div>

      <!-- ================= Manual Mode ================= -->
      <div *ngIf="mode === 'manual'" class="space-y-4">
        <!-- Name -->
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Medication name</mat-label>
            <input matInput formControlName="medicineName" placeholder="Medication Name" />
          </mat-form-field>

          <small
            *ngIf="
              medicationForm.get('medicineName')?.invalid &&
              medicationForm.get('medicineName')?.touched
            "
            class="text-red-500 text-xs"
          >
            This field is required
          </small>
        </div>

        <!-- Dosage -->
        <div>
          <mat-form-field appearance="outline" class="w-full compact">
            <mat-label>Dosage</mat-label>
            <mat-select formControlName="dosage">
              <mat-option *ngFor="let dose of dosages" [value]="dose.value">{{
                dose.label
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <small
            *ngIf="medicationForm.get('dosage')?.invalid && medicationForm.get('dosage')?.touched"
            class="text-red-500 text-xs"
          >
            This field is required
          </small>
        </div>
      </div>

      <div class="flex justify-end pt-2">
        <button mat-flat-button color="primary" class="w-fit">Save</button>
      </div>
    </form>
  </app-mode-switch-card>

  <div class="bg-white rounded-xl shadow-sm p-6 border border-gray-200" style="border-radius: 15px">
    <div class="flex flex-col md:flex-row gap-3 md:items-center md:justify-between mb-4">
      <h2 class="text-primary font-semibold text-xl md:text-2xl">Medications</h2>
      <app-search-bar (search)="applyFilter($event)"></app-search-bar>
    </div>
    <app-medication-table
      [data]="dataSource"
      [cols]="columns"
      (onEdit)="openEditModal($event)"
      (onDelete)="openDeleteModal($event)"
    />
  </div>

  <ng-template #editModal>
    <form [formGroup]="editMedicationForm" class="flex flex-col gap-3">
      <!-- Name -->
      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Medication name</mat-label>
          <input matInput formControlName="medicineName" placeholder="Medication Name" />
        </mat-form-field>

        <small
          *ngIf="
            editMedicationForm.get('medicineName')?.invalid &&
            editMedicationForm.get('medicineName')?.touched
          "
          class="text-red-500 text-xs"
        >
          This field is required
        </small>
      </div>

      <!-- Dosage -->
      <div>
        <mat-form-field appearance="outline" class="w-full compact">
          <mat-label>Dosage</mat-label>
          <input matInput formControlName="dosage" placeholder="0.5 mg" />
        </mat-form-field>

        <small
          *ngIf="
            editMedicationForm.get('dosage')?.invalid && editMedicationForm.get('dosage')?.touched
          "
          class="text-red-500 text-xs"
        >
          This field is required
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template #deleteModal> </ng-template>
</div>
